# ============================
# Base de Datos PostgreSQL
# ============================

DB_USER=username
DB_PASSWORD=example_password
DB_NAME=name_db
DB_PORT=5432

# URL que usa el backend; mantiene la estructura:
DATABASE_URL=postgres://username:example_password@localhost:5432/name_db

# ============================
# Backend
# ============================

PORT=3000
NODE_ENV=development
